@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: rgb(160, 245, 160);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(45, 77, 45);
}

h1#principal {
    text-align: center;
    background-color: rgb(26, 82, 26);
    color: white;
}

h2 {
    color: rgb(82, 139, 82);
}

.basico {
    color: rgb(92, 189, 105);
}

.intermediario {
    color: rgb(188, 190, 65);
}

.avancado {
    color: rgb(189, 92, 92);
}