@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #F2E8DF, #F2C6C2);
}
main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px, 5px, 15px, #ad6060;
    width: 480px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #F28585;
    text-align: center;
    text-shadow: 1px, 1px, 0px, #ad6060;
}
h2{
    color: #F2B263;
}
p {
    text-align: justify;
}